html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

body, #root{
  background: #2d3142;
  height:100%;
}

.App {
  height: 100%;
}

button {
  border: none;
  outline: none;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #2d3142; /*#603bbb initially*/
  cursor: pointer;
}

.text-dk-bg {
  color: #fff;
  text-shadow: #000 2px 2px 1px;
}

.main-text {
  left: 15%;
}

#main {
  padding: 150px;
  font-size: 3.5rem;
  left: 100px;
  font-weight: 700;
  line-height: 1.2;
}

.header{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #222430;
}

.login {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}

.loginContainer {
  padding: 150px 30px;
  margin: 50px 150px 50px 0;
  right: 50px;
  width: 100%;
  min-width: 300px;
  max-width: 520px;
  max-height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    to right top,
    #eae8ff,
    #deddf1,
    #d3d1e3,
    #c7c6d5,
    #bcbbc7,
    #b9b9c7,
    #b6b7c7,
    #b3b5c7,
    #b5bdd5,
    #b6c5e3,
    #b4cef1,
    #b0d7ff
  );
  /*radial-gradient*/ /* ( ellipse at left bottom, rgba(234, 232, 255, 1) 25%, */ /*22, 24, 47, 1 */ /* rgba(173, 172, 181, 0.9) 50%, */ /* 38, 20, 72, 0.9 */ /* rgba(176, 215, 255, 0.9) 75% */ /* 17, 27, 75, 0.9 */
  /* ); */
  /* box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8); */
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}


